PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/universal-job-fetcher
LOG_LEVEL=info
JWT_SECRET=31fa1745983ce559475a1aa516da2be4a5afab96ff72c861d0274496c31f9134aa89b9f0c214faae
9b043e5bbbf4784768c71a000097ea25e96719912e5f782a
JWT_EXPIRES_IN=7d


DISCORD_WEBHOOK_URL=
SLACK_WEBHOOK_URL=


TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
NOTIFY_EMAIL_TO=