PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/universal-job-fetcher
LOG_LEVEL=info


DISCORD_WEBHOOK_URL=
SLACK_WEBHOOK_URL=


TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
NOTIFY_EMAIL_TO=